body{
    margin: 0;
    padding: 0;
    background: url(../img/aaaaaa.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: auto; /* fondo de pantalla automatico*/
}
#navllamada{
    color: #ffa500;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 900;

}
.btn-ingresar{
    background-color: black;
    font-weight: bolder;
    color: white;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0);
    color: greenyellow;
}
#imgcarousel {
    max-height: 70vh;
    object-fit: cover ;
    filter: grayscale(50%);
}
#leblanc{
    max-width: 420px;
    max-height: 420px;
}
#sion{
    max-width: 420px;
    max-height: 420px;
}
#cypher{
    max-width: 420px;
    max-height: 420px;
}
#leblanc{
    max-width: 420px;
    max-height: 420px;
}
#jhin{
    max-width: 420px;
    max-height: 420px;
}
#rengar{
    max-width: 420px;
    max-height: 420px;
}

#logo{
    max-height: 80px;
    max-width: 80px;
}
footer{
    background-color: rgb(192, 17, 17);
    margin-top:50px;
}
footer a{
    color: rgb(255, 255, 255);
}
#imag{
    max-height: 60px;
    max-width: 60px;
    right: 1cm;
    left: 1cm;
    position: relative;
}
h2{
    color: white;
}